<link rel="stylesheet" href="layout.css">

<h1 style="color: white; text-align: center";>Edit Your Account</h1>


<div class="pic">
<img src="https://i.imgflip.com/d0tb7.jpg">
</div>


<form class="account"  method="POST" type="hidden" action="/profile<%= "/update" if @current_user.profile %>">
    	<input placeholder="Group" name="group" value="<%= @current_user.profile.group if @current_user.profile %>" />
		<br></br>
    	<input placeholder="birthday" name="birth" value="<%= @current_user.profile.birth if @current_user.profile %>" />
    	<br></br>
    	<input placeholder="about_me" name="about_me" value="<%= @current_user.profile.about_me if @current_user.profile %>" />
    	<br></br>
    	<input placeholder="position" name="position" value="<%= @current_user.profile.position if @current_user.profile %>" />
    	<br></br>
    	<input type="submit" name="save" />
</form>

