<div class="search">
	<img src="/images/Bloghubcomplete.png" width="200" height="120" >
	<textarea class="textarea" >Search</textarea>

</div>

<div class="feed">
<h1>feed</h1>
<p><a href="/profile"><%= @current_user.first + " " +  @current_user.last %></a></p>
<% @current_user.posts.each do |item| %>
<p><%=item.title %></p>
<p><%=item.body %></p>

<% end %>
	
</div>
<div class="users">
	<h3>Users<h3>

<% @users.each do |user| %>
<p><a href="/users/<%= user.id %>">
	<%= user.first %></a></p>

<% end %>

</div>