<h1 style="color: white; font-size: 25px;">Profile</h1>

<div class="profile">
<p> First Name : <%= @current_user.first %></p>
<p>Last Name : <%= @current_user.last %></p>
<p>group : <%= @current_user.profile.group %></p>
<p>Position : <%= @current_user.profile.position %></p>
<p>Birth : <%= @current_user.profile.birth %></p>
<p> About Me : <%= @current_user.profile.about_me %></p>
</div>


