<h1>Profile</h1>

<p> First Name :</p> <%= @current_user.first %>
<p>Last Name : <%= @current_user.last %></p>
<p>group : <%= @current_user.profile.group %></p>
<p>Position : <%= @current_user.profile.position %></p>
<p>Birth : <%= @current_user.profile.birth %></p>
<p> About Me : <%= @current_user.profile.about_me %></p>



