<h1 style="color: white; font-size: 25px;">Profile</h1>

<div class="profile">
<p> First Name : <%= user.first %></p>
<p>Last Name : <%= user.last %></p>
<p>group : <%= user.profile.group %></p>
<p>Position : <%= user.profile.position %></p>
<p>Birth : <%= user.profile.birth %></p>
<p> About Me : <%= user.profile.about_me %></p>
</div>


